/.vscode/
/.venv/*
/__pycache__/*
/diffforms/__pycache__/*
/diffforms/tests/*
/diffforms/gstructures/__pycache__/
/diffforms/gstructures/__pycache__/*
/diffforms.egg-info/*
/build/**
/build/*
/build/
/dist/
/tests/
BUILD.md
